---
layout: page
permalink: /gsoc/
---
<nav class="page-nav">
    <a href="/proposal">Proposal</a>
    <a href="/status">Project Status</a>
</nav>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
    {% if {{post.category}} == "gsoc" %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
    {% endif %}
{% endfor %}
{% endif %}
</div>
